<!--<a href="https://lorenlobo.com/blog/" target="_blank" rel="noopener noreferrer" class="link" title="My Blog. Updated very slowly. I only draw when I'm struck violently by inspiration, otherwise I don't feel motivated enough." style="cursor:pointer;">Lobo's&nbsp;Blog</a>-->
<a onclick="window.open('https://lorenlobo.com/blog/', 
                         'newtab'); 
              return false;" target="_blank" rel="noopener noreferrer" class="link" title="My Blog. Updated very slowly. I only draw when I'm struck violently by inspiration, otherwise I don't feel motivated enough." style="cursor:pointer;">Lobo's&nbsp;Blog</a>
<a href="https://reddit.com/u/LorenLobo" class="link" rel="noopener noreferrer" target="_blank" title="This place is a time-waster.">Reddit</a>
<a href="https://loboloren.tumblr.com" class="link" rel="noopener noreferrer" target="_blank" title="I'm not that active here.">Tumblr</a>
<a href="https://myanimelist.net/profile/LorenLobo" rel="noopener noreferrer" class="link" target="_blank" title="I've watched a lot of anime.">MyAnimeList</a>
<a href="https://letterboxd.com/lorenlobo" rel="noopener noreferrer" class="link" target="_blank" title="I've watched a lot of movies.">Letterboxd</a>
<a href="https://www.goodreads.com/user/show/151410283" rel="noopener noreferrer" class="link" target="_blank" title="I haven't read enough books.">Goodreads</a>
<a href="https://steamcommunity.com/profiles/76561198041114915" rel="noopener noreferrer" class="link" target="_blank" title="I need to play games again.">Steam</a>
<a href="https://www.youtube.com/channel/UC6cj-1hG-Jd1-A4ehs7XGrw" rel="noopener noreferrer" class="link" target="_blank" title="I don't have any videos lol This is just playlists. I might make videos again someday, who knows.">YouTube</a>
<a href="https://www.pinterest.com/Loren_Lobo" rel="noopener noreferrer" class="link" target="_blank" title="Awesome art I've saved.">Pinterest</a>
<!--<a href="https://open.spotify.com/user/31xezqay72khqaa2awc3cm7rgr2a?si=1ed5e72bb6054801" class="link" rel="noopener noreferrer" target="_blank" title="I love music.">Spotify</a>-->
<!--<a href="https://bsky.app/profile/lorenlobo.bsky.social" rel="noopener noreferrer" class="link" target="_blank" title="Replacement for X. I literally don't use it.">Bluesky</a>-->
